//	Colors

// $orange:    #;
// $yellow:    #;
// $green:     #;
// $turquoise: #;
// $cyan:      #;
// $blue:      #;
// $purple:    #;
// $red:       #;


//	Brand Colors

$twitter:   #1da1f2;
$youtube:   #ff0000;
$discord:   #7289da;
$steam:     #111111;
$telegram:  #0088cc;


//	Fonts
$family-sans-serif: Roboto, Helvetica, Arial, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Cantarell, 'Helvetica Neue';