#hero {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	.hero-body,
	.navbar {
		z-index: 1;
	}

	.hero-body {

		img {
			height: 400px;
		}
	}

	.hero-overlay {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background-image: url('/assets/img/ui/texture.png');
		background-size: 2px 2px;
		background-repeat: repeat;
		background-attachment: fixed;
	}
}

section.section {

	&+.section {
		border-top: 1px solid $light;
	}
}

#servers {
	.tile {
		.title {
			margin-bottom: 2.5rem;
		}
	}
}

footer.footer {
	padding: 1.5rem;
	color: $white;
	background-color: $dark;

	strong {
		color: $white;
	}
}