@mixin gradient($opacity) {
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, $opacity) 100%);
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, $opacity) 100%);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, $opacity) 100%);
}

@mixin centerer($horizontal: true, $vertical: true) {
	position: absolute;
	@if ($horizontal and $vertical) {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@else if ($horizontal) {
		left: 50%;
		transform: translate(-50%, 0);
	}
	@else if ($vertical) {
		top: 50%;
		transform: translate(0, -50%);
	}
}