* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

html {
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
}

img {
	image-rendering: -webkit-optimize-contrast;
}