.align-baseline {
	vertical-align: baseline !important;
}
.align-top {
	vertical-align: top !important;
}

.align-middle {
	vertical-align: middle !important;
}

.align-bottom {
	vertical-align: bottom !important;
}

.align-text-bottom {
	vertical-align: text-bottom !important;
}

.align-text-top {
	vertical-align: text-top !important;
}

// Credit: Nicolas Gallagher and SUIT CSS.
.embed-responsive {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	overflow: hidden;
	&::before {
		display: block;
		content: "";
	}
	.embed-responsive-item,
	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.embed-responsive-21by9 {
	&::before {
		padding-top: percentage(9 / 21);
	}
}

.embed-responsive-16by9 {
	&::before {
		padding-top: percentage(9 / 16);
	}
}

.embed-responsive-4by3 {
	&::before {
		padding-top: percentage(3 / 4);
	}
}

.embed-responsive-1by1 {
	&::before {
		padding-top: percentage(1 / 1);
	}
}

.is-block {
	display: block!important;
}

.mw-100 { max-width: 100% !important; }
.mh-100 { max-height: 100% !important; }

.my-0 {
	margin-top: 0!important;
	margin-bottom: 0!important;
}

.my-1 {
	margin-top: 0.75rem!important;
	margin-bottom: 0.75rem!important;
}
.my-2 {
	margin-top: 1rem!important;
	margin-bottom: 1rem!important;
}
.my-3 {
	margin-top: 1.25rem!important;
	margin-bottom: 1.25rem!important;
}
.my-4 {
	margin-top: 1.5rem!important;
	margin-bottom: 1.5rem!important;
}
.my-5 {
	margin-top: 2rem!important;
	margin-bottom: 2rem!important;
}

.mx-0 {
	margin-right: 0!important;
	margin-left: 0!important;
}

.mb-0 {
	margin-bottom: 0!important;
}

.is-halfwidth {
	width: 50%;
}

.is-mcentered {
	margin: 0 auto;
}